.search-container{
    background-color:orange;
    border:2px solid black;
    height:100px;
    width:400px;
    text-align: center;
    margin:auto;
    border-radius:50%;
    margin-bottom: 50px;

  }
  .facility{
    background-color:orange;
    border:2px solid black;
    height:80px;
    width:400px;
    text-align: center;
    margin:auto;
    margin-bottom: 0px;
    
  }

  .platforms{
    width: 900px;
    height: 500px;
    border: 5px solid black;
    border-radius: 10px;
    position: relative;
    top:50px;
    left:300px;
    margin-bottom: 0px;
    background-color: bisque;
  }
 img{
  position: absolute;
  top: 100px;
  left: 20px;
  width: 45%;
  height: 45%;
}
  .description{
    width: 400px;
    height: 300px;
    border: 5px solid black;
    border-radius: 10px;
    position: relative;
    top:-300px;
    left:750px;
    background-color: azure;
    
  }
h3{
    text-align: center;
    position: relative;
    top:20px;
    left:10px;
}
.adress{
  width: 400px;
  height: 100px;
  border: 5px solid black;
  border-radius: 10px;
  position: relative;
  top:-750px;
  left:750px;
  background-color: azure;
}
h3{
  width: 300px;
  word-wrap: break-word;
  text-align:justify;
  position:relative; 
  top:20px;
  left:50px;
}
.logo{
  width:1050px;
  height:250px;
  position: relative;
  top:25px;
  left:20px;
}
a.text:active, 
a.text:hover,  
a.text {
   text-decoration: none;
   color: black;
}
.button {
    position: relative;
    left:300px; 
    background: orange;

    }

.otziv{
    border:5px solid black;
    margin: -300px 300px;
    width:900px;
    height:500px;
    background-color: rgb(221, 173, 69);

}
.clovaotziv{
    position: relative;
    left:400px;
}
.clova{
    background-color: white;
    border:5px solid black ;
    margin: 380px 100px;
    width:700px; 
    height: 50px;
}
form input[type="text"] { 
    width: 80%; 
    height: 40px; 
    padding: 10px; 
    box-sizing: border-box; 
    position: relative;
    top:360px;
  }
form button[type="submit"]{
    width: 20%; 
    height: 40px;
    position: relative;
    top:320px;
    left:720px;
}