.logo{
    width:500px;
    height:50px;
    position:relative;
    left:30px;
}
.place{
    margin-bottom: 10px;
    position:relative;
    top:30px;
    left:580px;
    
}

h1{
    position:relative;
    top:50px;
    left:580px;
}
hr
{
    position:relative;
    top:70px;
    }
.tips{
    position: relative;
    top:50px;
    left:580px;
    
}

.text{
    position: relative;
    top:90px;
    left:580px;
    
}
.dostup{
    position: relative;
    top:70px;
    left:580px;
}
.tip platforms{
    position: relative;
    top:90px;
    left:580px;
}
.text1 {
    position: relative;
    top:40px;
    left:580px;
}
.text2{
    position: relative;
    top:70px;
    left:580px;
}
.text3{
    position: relative;
    top:70px;
    left:580px; 
}
.fynction{
    position: relative;
    top:70px;
    left:580px; 
}
.search{
    position: relative;
    top:130px;
    left:680px;
    
}
a.text:active, 
a.text:hover,  
a.text {
   text-decoration: none;
   color: black;
}

form input[type="text"] {
    width: 15%;
    height:2%;
    padding:10px;
    box-sizing: border-box;
    border-radius:15px;
    position: relative;
    left:580px;
    top:30px;
}

.button {
    background: orange;
}