.search-container{
  background-color:orange;
  border:2px solid black;
  height:100px;
  width:400px;
  text-align: center;
  margin:auto;
  border-radius:50%;
  margin-bottom: 50px;

}
.facility{
  background-color:orange;
  border:2px solid black;
  height:80px;
  width:400px;
  text-align: center;
  margin:auto;
  margin-bottom: 0px;
  
}

.platforms{
    width: 900px;
    height: 500px;
    border: 5px solid black;
    border-radius: 10px;
    position: relative;
    top:50px;
    left:300px;
    margin-bottom: 0px;
    background-color: bisque;
  }
 img{
  position: absolute;
  top: 100px;
  left: 20px;
  width: 45%;
  height: 45%;
}
  .description{
    width: 400px;
    height: 300px;
    border: 5px solid black;
    border-radius: 10px;
    position: relative;
    top:-300px;
    left:750px;
    background-color: azure;
    
  }
h3{
    text-align: center;
    position: relative;
    top:20px;
    left:10px;
}
.adress{
  width: 400px;
  height: 100px;
  border: 5px solid black;
  border-radius: 10px;
  position: relative;
  top:-750px;
  left:750px;
  background-color: azure;
}
h3{
  width: 300px;
  word-wrap: break-word;
  text-align:justify;
  position:relative; 
  top:20px;
  left:50px;
}
.logo{
  width:1050px;
  height:250px;
  position: relative;
  top:-20px;
  left:0px;
}
a.text:active, 
a.text:hover,  
a.text {
   text-decoration: none;
   color: black;
}
.button {
  position: relative;
  left:300px; 
  top: 40px;
  background: orange;

}

.otziv{
    border:5px solid black;
    border-radius: 10px;
    margin: -180px 300px;
    width:900px;
    height:400px;
    background-color: rgb(221, 173, 69);

}
.clovaotziv{
    position: relative;
    left:400px;
}

form input[type="text"] { 
  width: 80%; 
  height: 40px; 
  padding: 10px; 
  box-sizing: border-box; 
  position: relative;
  top:250px;
}
form button[type="submit"]{
    width: 20%; 
    height: 40px;
    position: relative;
    top:210px;
    left:720px;
}

.кнопка button {
  border-radius: 10px; 
  padding: 10px 15px; 
  font-size: 15px;
  background-color: #4be5ea; 
  color: white;
  border: none; 
  cursor: pointer;
  position: relative;
  left:46%;
  top:-10px;
}
.price{
  border:5px solid rgb(221, 173, 69); 
  border-radius: 10px;
  background-color:rgb(221, 173, 69) ;
  width:60%;
  height:5%;
  position:relative;
  top:-330px;
  left:300px;
  display: inline-block;
}
.slovoprice{
    position: relative;
    left:405px;
    top:0px;
}
.price-frame {  
  background-color: rgb(46, 74, 112);
  padding:10px;
  border-radius: 10px;
  border:1px solid black;
 
}
.price-frame p{
  color:rgb(63, 236, 115);
  font-size:1.2em;
  font-weight:bold;
  text-align: center;
  
}
.slovophone{
  position: relative;
  left:340px;
  top:0px;
}
.phone-frame { 
  background-color: rgb(46, 74, 112);
  padding:10px;
  border-radius: 10px;
  border:1px solid black;

}

.phone-frame p{
  color:rgb(63, 236, 115);
  font-size:1.2em;
  font-weight:bold;
  text-align: center;
}
.phone{
  border:5px solid rgb(221, 173, 69); 
  border-radius: 10px;
  background-color:rgb(221, 173, 69) ;
  width:60%;
  height:5%;
  position:relative;
  top:-300px;
  left:300px;
  display: inline-block;

}

.slovotime{
  position: relative;
  left:355px;
  top:0px;
}
.time-frame {
  background-color: rgb(46, 74, 112);
  padding:10px;
  border-radius: 10px;
  border:1px solid black;

}

.time-frame p{
  color:rgb(63, 236, 115);
  font-size:1.2em;
  font-weight:bold;
  text-align: center;
}
.time{
  border:5px solid rgb(221, 173, 69); 
  border-radius: 10px;
  background-color:rgb(221, 173, 69) ;
  width:60%;
  height:5%;
  position:relative;
  top:-250px;
  left:300px;
  display: inline-block;

}
.photo img{
  border: 2px solid white;
  border-radius: 10px;
  width: 50%;
  height:50%;
}

.line hr{
  border: none;
  width:1500px;
  height: 3px;   
  background-color: orange; 
  margin: -40px 0px;
}

.button {
  position: relative;
  left:300px; 
  top: 40px;
  background: orange;

} 