body{
  font-family:'Courier New', Courier, monospace;
  font-weight: 400;
  margin: 0; /* Убираем стандартные отступы */
  padding: 0; /* Убираем стандартные поля */
  overflow-x: hidden;
}
.background{
  background-color: #e6d9af;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed; /* Фиксирует фон на месте при прокрутке */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.container1{
  z-index: 1;
}
.logo{
  width:20%;
  height:30%; 
  position:relative;
  left:40px;
  top:10px;
}
.logop{
  position: relative;
  top:0px;
  left: 0px;
  width: 100%;
  height: 110%;
  border: 0px solid white;
  border-radius: 0px;
}
.resultat{
  position: relative;
  border:1px solid #FF740F;
  border-radius: 10px;
  width:480px;
  height:150px;
  background-color: #FF740F;
  left:550px;
  text-align: center;
  font-size: 1.5em;
}

.search-container{
  color:#F0F0F0
}
.button {
  position: relative;
  left:300px; 
  background: #FF740F;
  width:100px;
  padding: 5px 10px;
  border-radius: 10px;
}
.nazad{
  color:#F0F0F0;
  font-family:'Courier New', Courier, monospace;
  font-weight: 400;

}
.poblizosti{
  position: relative;
  top:15px;
  left: 300px;
}
.card{
    width: 900px;
    height: 380px;
    border: 5px solid black;
    border-radius: 10px;
    position: relative;
    top:50px;
    left:300px;
    background-color: #ff832a;
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);

  }
 img{
   position: absolute;
   border: 3px solid black;
   border-radius: 10px;
   top: 20px;
   left: 20px;
   width: 430px;
   height: 330px;
  }
 h2{
   width: 400px;
   height: 40px;
   border: 3px solid black;
   border-radius: 10px;
   position: relative;
   left:470px;
   background-color: #F0F0F0;
   text-align: center;
   
   
  }
 h3{
   width: 400px;
   height: 50px;
   border: 3px solid black;
   border-radius: 10px;
   position: relative;
   left:470px;
   background-color: #F0F0F0;
   text-align: center;
   
   
   
  }
 h4{
   width: 400px;
   height: 150px;
   border: 3px solid black;
   border-radius: 10px;
   position: relative;
   left:470px;
   background-color: #F0F0F0;
   text-align: center;

}